/**
 * Folhas de estilo da página 'modelo'.
 **/

.about a {
    display: block;
    padding: .25rem;
    line-height: 1.4;
}

.about span {
    display: inline-block;
    padding-left: .5rem;
}